/****************************************************/
/********************* LEIA-ME **********************/
/****************************************************/
/*
 * Esse arquivo de CSS usa as regras de BEM.
 * Para informações de como compreender e desenvolver 
 * nesse modelo acesse: http://getbem.com/introduction/
 * Regras de CSS desenvolvidas por Joseph Oliveira Correa.
*/
/****************************************************/
/******************** INFORMAÇÕES *******************/
/****************************************************/
/*
 * c - Refere-se a "Componente". Neste tipo de bloco 
 * estão contidas todas as regras de css que envolvem
 * a parte estrutural do site. 
*/
/****************************************************/
/******************** APLICACAO *********************/
/****************************************************/
.c-app{
    
}

/****************************************************/
/********************* DOCUMENTO ********************/
/****************************************************/
.c-doc{
    margin: auto;
    width: 1100px;
}

/****************************************************/
/********************** ARTIGO **********************/
/****************************************************/
.c-art{
    display: grid;
    grid-template-columns: 30% 70%;
}

/****************************************************/
/*********************** LADO ***********************/
/****************************************************/
.c-ld{
    
}

/****************************************************/
/*********************** SECAO **********************/
/****************************************************/
.c-sec{
    
}

/****************************************************/
/********************** CONTEUDO ********************/
/****************************************************/

.c-ct{
    display: grid;
    grid-gap: 10px;
    padding: 15px;
}

/****************************************************/
/************************ ITEM **********************/
/****************************************************/

.c-it{
    display: grid;
    grid-gap: 5px;
}

/****************************************************/
/*********************** LISTA **********************/
/****************************************************/

.c-ls{
    display: grid;
    grid-gap: 5px;
    padding: 10px;
}

/****************************************************/
/*********************** TITULO *********************/
/****************************************************/

.c-txt{

}

.c-txt--tt{
    padding: 10px 15px;
}

/****************************************************/
/********************** BARRA ***********************/
/****************************************************/

.c-bar{
    height: 12px;
}

/****************************************************/
/******************** DIVISORIA *********************/
/****************************************************/

.c-hr{
    margin: 0px 15px;
    border-bottom: 0;
}