/****************************************************/
/********************* LEIA-ME **********************/
/****************************************************/
/*
 * Esse arquivo de CSS é um reset.
 * Para informações de como compreender e desenvolver 
 * nesse modelo acesse: http://meyerweb.com/eric/tools/css/reset/ 
 * Regras de CSS desenvolvidas por Joseph Oliveira Correa.
 * Regras feitas com base nas de meyerweb.
*/
/****************************************************/
/******************** INFORMAÇÕES *******************/
/****************************************************/
/*
 * Aqui esta contido o reset de css, em outras palavras,
 * as limpesas para permitir um melhor funciomaneot do css. 
*/
/****************************************************/
/*********************** RESET **********************/
/****************************************************/
*, *:before, *:after {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	color:inherit;
	text-decoration: none;
}
input{
	font-family: inherit;
}
textarea{
	font-family: inherit;
	resize: none;
}
option{
	font-family: inherit;
	color: inherit;
}